<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles/main.css">
    <link rel="stylesheet" href="./static/styles/form.css">
    <link rel="stylesheet" href="./static/styles/business.css">
    <link rel="stylesheet" href="./static/styles/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BizBooker - Your Appointment Booking App</title>
    <!-- Add your CSS stylesheets or styles here -->
</head>

<body>
    

    

    {% block content %}
    <div class="landing-container">
        <div>
            <img src="./static/assets/BizBookerLogo.png" class="logo">
        </div>

        <div class="landing-child-2">
            <p>Your go-to platform for seamless appointment booking!</p>
        </div>

        <div class="landing-child-3">
            <a href="/signup" class="button signup">sign up</a>
            <a href="/login" class="button login">login</a>
        </div>
        
        

    </div>
    <!-- Add more content or sections as needed -->
    {% endblock %}
</body>

</html>
