{% extends 'base.html' %} {% block content %}
<h1>Book with {{ business.name }}</h1>

<form
    method="post"
    action="{{ url_for('book_appointment', business_id=business.id) }}"
>
    {{ form.csrf_token }}
    <!-- Add form fields as needed -->
    <label for="date_of_apt">Date:</label>
    {{ form.date_of_apt(class="form-control", required="required") }}

    <label for="start_time">Start Time:</label>
    {{ form.start_time(class="form-control", required="required") }}

    <button type="submit" class="btn btn-primary">Book Appointment</button>
</form>

{% endblock %}
