<!-- create_business.html -->
{% extends "base.html" %} {% block content %}
<div class="centered-container">
    <div class="form-container">
        <h2>Create a Business</h2>
        <form method="post" action="/create">
            {{ form.hidden_tag() }} {# Include the CSRF token #} {% for field in
            form if field.widget.input_type != 'hidden' %} {% for error in
            field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %} {{ field(placeholder=field.label.text,
            class="form-control input") }} {% endfor %}

            <button type="submit" class="button create-business">
                Create Business
            </button>
        </form>
    </div>
</div>
{% endblock %}
