{% extends 'base.html' %} 

{% block content %}
<div class="home-container">
    <img src="./static/assets/BizBookerLogo.png" class="logo-home" />
    {% if g.user %}
    <p>Hello, {{ g.user.username }}!</p>
    {% else %}
    <p>Not logged in? <a href="/login">Log in here</a> or</p>
    <a class="button" href="/signup">Sign Up</a>
    {% endif %}
    <hr>
    <div class="home-buttons-container">
        <a class="button home-button" href="/view">View Appointments</a>
        <a class="button home-button" href="/businesses">Businesses</a>
        <a class="button home-button" href="/create">Create Business Account</a>
    </div>
</div>
{% endblock %}
