{% extends 'base.html' %} {% block content %}
<div class="businesses-container">
    <h1>Businesses</h1>
    <hr>
</div>
    <div class="grid-container">
        <div class="business-container">
            {% for business in businesses %}
                <h2 class="business-title">{{ business.name }}</h2>
                <p>{{ business.location }}</p>
                <p class="business-description">{{ business.bio }}</p>
                <a class="button book-appointment" href="/appointments/{{ business.id }}">Book appointment</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
