{% extends 'base.html' %}

{% block content %}
<div class="centered-container">
    <div class="form-container">
        <h1>login</h1>
    
        <form action="/login" method="post">
            {{ form.hidden_tag() }} {# Include the CSRF token #}
    
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control input") }}
            {% endfor %}
    
            <button type="submit" class="button login ">login</button>
        </form>
    
        <!-- Add a link or button to navigate to the signup page -->
        <div>
            <a href="/signup">Don't have an account? Sign up here.</a>
        </div>
    </div>
</div>
{% endblock %}
