{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>

    <form action="/login" method="post">
        {{ form.hidden_tag() }} {# Include the CSRF token #}

        <label for="username">Username:</label>
        {{ form.username(class="form-control", required="required") }}

        <label for="password">Password:</label>
        {{ form.password(class="form-control", required="required") }}

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <!-- Add a link or button to navigate to the signup page -->
    <a href="/signup">Don't have an account? Sign up here.</a>
{% endblock %}
