{% extends 'base.html' %}

{% block content %}
    <h1>Businesses</h1>

    <ul>
        
            <li>
                <h2>{{ business.location }}</h2>
                <p>{{ business.bio }}</p>
                
                <a class="btn btn-success" href="/appointments/{{ business.id }}">Book appointment</a>
                <a href="/businesses/{{ business.id }}">View Business</a>
            </li>
        
    </ul>

    <!-- Add a link or button to navigate back to the homepage -->
    <a href="/homepage">Back to Homepage</a>
{% endblock %}
