    {% extends 'base.html' %}

    {% block content %}
        <h1>Sign Up</h1>
        <form action="/signup" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
            <button type="submit">Sign up</button>

        <!-- Add a link or button to navigate to the login page -->
        <a href="/login">Already have an account? Log in here.</a>
    </form>
    {% endblock %}
